.navbar{
    width: 100%;
    height: 70px;
    .navbar__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        height: 100%;
        margin: 0 auto;
        .logo{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 40px;
            font-weight: 500;
            width: 20%;
            height: 100%;
        }
        .list{
            width: 25%;
            height: 100%;
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                li{
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: 500;
                    color: gray;
                    transition: 0.3s;
                    cursor: pointer;
                }
                li:hover{
                    color: black;
                }
            }
        }
        .icon__bar{
            width: 20%;
            height: 100%;
            ul{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 1rem;
                li img{
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                }
                .shopping__box{
                    display: flex;
                    align-items: center;
                    gap: 0.3rem;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding:1px 7px;
                        border-radius: 50%;
                        background-color: black;
                        color: white;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


@media (max-width:890px){
    .navbar{
        max-width: 890px;
        width: 800px;
        height: 69px;
        .navbar__container{
            width: 85%;
            height: 100%;
            .logo{
                width: 15%;
                height: 100%;
                font-size: 36px;
            }
            .list{
                width: 40%;
                height: 100%;
            }
            .icon__bar{
                width: 20%;
                height: 100%;
            }
        }

    }
}
@media (max-width:810px){
    .navbar{
        max-width: 810px;
        width: 800px;
        height: 69px;
        .navbar__container{
            width: 85%;
            height: 100%;
            .logo{
                width: 15%;
                height: 100%;
                font-size: 36px;
            }
            .list{
                width: 40%;
                height: 100%;
            }
            .icon__bar{
                width: 20%;
                height: 100%;
            }
        }

    }
}
@media (max-width:440px){
    .navbar{
        width: 430px;
        height: 50px;
        .navbar__container{
            width: 85%;
            margin: 0 auto;
            .logo{
                display: flex;
                align-items: center;
                width: 25%;
                font-size: 22px;
                font-weight: 600;
            }
            .list{
                display: none;
            }
            .icon__bar{
                display: none;
            }
        }
    }
}